
CREATE DATABASE IF NOT EXISTS $DBname;

CREATE USER IF NOT EXISTS '$DBuser'@'%' IDENTIFIED BY '$DBpasswd';

GRANT ALL PRIVILEGES ON $DBname.* TO '$DBuser'@'%';

SET PASSWORD FOR 'root'@'%' = PASSWORD('$DBRootpasswd');

FLUSH PRIVILEGES;
